# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.bin
*.app
*.apk

# temporary files
*.tmp

# zipped binaries
*.zip
*.tgz
*.tar.gz

#vs vscode consulo ...
*.vs*
*.vscode*
*.vcxproj*
*x64*
*.code-workspace
*.sln
*.xml
*.DS_Store
*.dSYM/*


#generated code
binaryplus/bin/*.tux
binaryplus/bin/*.bat
*.pdb
*.dbg
*.json
*.ilk
binarysharp/obj/*
csharp/obj/*
binarysharp/bin/Release/*
csharp/bin/Release/*
assets/killterm
assets/setkbdmode

#makefile assets
cs
cpp
csbin
cppbin
all
dll
release
resources
fixmintty-cygwin
fixmintty-msys2
check-arch
__arch.dat
run.bat

#logs
*.log
*.dat
*null*

#th is enc_temp_folder ...
*enc_temp_folder*

#keep
!*/.gitkeep
!utilities/custom/vsdevcmd-x64.bat
!utilities/custom/vsdevrun-x64.bat
!utilities/custom/vsdevscript-x64.bat

# test dir
test*

# test files
file.tux
a.*